# Variables de entorno
DB_PORT=5432
DB_USER=openproject_db
DB_PASSWORD=openproject_db
DB_NAME=openproject_db

OPENPROJECT_PORT=8000
OPENPROJECT_HTTPS=false
OPENPROJECT_HOST_NAME=http://localhost:8000
# Generá una nueva APP_KEY con el comando: $ openssl rand -hex 64
SECRET_KEY_BASE=
