# Variables de entorno
OPENPROJECT_PORT=8000
OPENPROJECT_HTTPS=false
OPENPROJECT_HOST_NAME=http://localhost:8000
# Generá una nueva APP_KEY con el comando: $ openssl rand -hex 64
SECRET_KEY_BASE=

# SMTP
SMTP_HOST=host.docker.internal
SMTP_PORT=1025
SMTP_AUTH=login
SMTP_USER=
SMTP_PASSWORD=
SMTP_SSL=true
SMTP_STARTTLS_AUTO=false

